.circular-gallery {
    width: 100%;
    height: 100%;
    min-height: 400px;
    overflow: hidden;
    cursor: grab;
    position: relative;
    touch-action: manipulation;
}

.circular-gallery canvas {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.circular-gallery:active {
    cursor: grabbing;
}

/* Mobile optimizations */
@media (max-width: 640px) {
    .circular-gallery {
        min-height: 300px;
    }
}

@media (max-width: 480px) {
    .circular-gallery {
        min-height: 250px;
    }
}